.navBar {
  height: 80px;
  background: var(--main-color) 0% 0% no-repeat padding-box;
  width: 100%;
  display: grid;

  grid-template-columns: auto auto auto;
  grid-template-areas: 'header buttons logo';
}

.logo {
  grid-area: logo;
  justify-self: end;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
}
